<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mon blog</h2>

      <p>Mis à jour: {{ lastUpdate | async | date: 'short' | lowercase }}</p>

      <ul class="list-group">
        <app-post-list *ngFor="let post of posts; let i = index"
                      [postTitle]="post.title"
                      [postContent]="post.content"
                      [postCreatedAt]="post.created_at"
                      [postLoveIts]="post.loveits"
                      [indexOfPost]="i">
        </app-post-list>
      </ul>
    </div>
  </div>
</div>
